.search-wrap {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 15px 0 15px 7px;
}
.react-autosuggest__container {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(219,219,219,.5);
  border-radius: 20px;
}
.input-group.search-group {
  width: 538px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.input-group.search-group .ic-search {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.input-group .input-wrapper {
  flex: 1;
}
.input-group.search-group input.form-control {
  width: 95%;
  border: none;
}
input.search:focus {
  outline: 0;
  box-shadow: none;
}